* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 1.6rem;
    padding: 1rem;
    min-width: 40rem;
}

#input {
    width: 100%;
    border: 1px solid #418a28;
    padding: 1rem;
}

.btn {
    display: inline-block;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

#btn-save, #btn-tab {
    background-color: #418a28;
    color: #eff9eb;
}

#btn-delete {
    background-color: #b30000;
    color: #eff9eb;
}

#btn-delete:hover {
    background-color: #850000;
}

#btn-save:hover, #btn-tab:hover {
    background-color: #2e631d;
}

/* .item {
    display: block;
} */

ul {
    list-style: none;
    margin-top: 2.5rem;
}

li a {
    color: #418a28;
}

li a:hover {
    color: #2e631d;
}

li a .fa-solid {
    font-size: 1.4rem;
    padding-right: 1rem;
}